Repository ethereum/py-evm, pull requests merged in 2018-04, with the labels that each got.

#522 Reorganize vmc
  evm/vm/forks/sharding/config.py
  evm/vm/forks/sharding/log_handler.py
  evm/vm/forks/sharding/shard_tracker.py
  evm/vm/forks/sharding/smc_handler.py
  evm/vm/forks/sharding/smc_utils.py
  evm/vm/forks/sharding/vmc_handler.py
  evm/vm/forks/sharding/vmc_utils.py
  tests/sharding/fixtures.py
  tests/sharding/test_log_handler.py
  tests/sharding/test_shard_tracker.py
  tests/sharding/test_smc_handler.py
  tests/sharding/test_vmc_handler.py
  tests/sharding/web3_utils.py
Labels: Sharding

#462 New collation format
  evm/rlp/collations.py
  evm/rlp/headers.py
  evm/rlp/sedes.py
  evm/utils/blobs.py
  tests/core/sharding/test_collations.py
  tests/core/test_blob_utils.py
Labels: Needs Review, Sharding

#547 Add ShardDB
  evm/db/shard.py
  evm/exceptions.py
  tests/database/test_shard_db.py
Labels: Sharding

#555 Blob serialization
  evm/constants.py
  evm/db/batch.py
  evm/utils/blobs.py
  tests/core/test_blob_utils.py
Labels: Needs Review, Sharding

#570 Shard chain
  evm/chains/shard.py
  evm/db/shard.py
  evm/rlp/collations.py
  evm/rlp/headers.py
  tests/core/chain-object/test_shard.py
  tests/core/sharding/test_collations.py
  tests/database/test_shard_db.py
Labels: Needs Review, Sharding

#583 p2p: Testing P2P handshake
  p2p/auth.py
  p2p/constants.py
  p2p/peer.py
  p2p/server.py
  tests/p2p/dumb_peer.py
  tests/p2p/test_server.py
Labels: p2p
