Repository ethereum/py-evm, pull requests merged in 2018-07, with the labels that each got.

#1009 Track peer performance, favor fast peers
  eth/precompiles/modexp.py
  p2p/chain.py
  p2p/constants.py
  p2p/peer.py
  p2p/utils.py
  tests/p2p/test_utils.py
Labels: comp: p2p

#1018 Fix transaction pool send loop logic
  p2p/peer.py
  p2p/server.py
  trinity/plugins/builtin/tx_pool/pool.py
Labels: PR state: WIP, comp: p2p, comp: trinity, effort: E1 hours, prio: P2 required, type: bug

#1058 Also cleanup the JSON-RPC ipc socket in fix-unclean-shutdown
  trinity/main.py
Labels: comp: trinity, effort: E1 hours, prio: P4 nice to have, type: bug

#1071 Prefix trinity version with eth if trinity not installed
  trinity/__init__.py
Labels: PR state: needs review, comp: trinity, effort: E1 hours, prio: P4 nice to have, type: chore

#1063 Implement stronger linkage between requests for headers and their responses
  p2p/chain.py
  p2p/eth.py
  p2p/les.py
  p2p/lightchain.py
  p2p/peer.py
  p2p/protocol.py
  p2p/state.py
  p2p/utils.py
  setup.py
  tests/p2p/test_header_request_object.py
  tests/trinity/core/header-utils/test_block_number_sequence_builder.py
  trinity/utils/headers.py
Labels: PR state: needs review, comp: trinity, effort: E1 hours, type: refactor

#1089 Further flesh out round trip request/response API
  p2p/chain.py
  p2p/eth.py
  p2p/exceptions.py
  p2p/les.py
  p2p/peer.py
  p2p/protocol.py
  p2p/state.py
  tests/p2p/test_header_request_object.py
  tests/p2p/test_peer_block_header_request_and_response_api.py
  trinity/utils/headers.py
Labels: comp: trinity, effort: E2 days, prio: P3 important, type: feature, type: refactor
