Repository ethereum/py-evm, pull requests merged in 2018-08, with the labels that each got.

#1112 Implement bitwise shift opcodes for Constantinople
  eth/vm/forks/constantinople/opcodes.py
  eth/vm/logic/arithmetic.py
  eth/vm/mnemonics.py
  eth/vm/opcode_values.py
  tests/core/opcodes/test_opcodes.py
Labels: PR state: needs review

#1120 WIP: Start moving the ETH p2p protocol stuff into the trinity module
  p2p/chain.py
  p2p/constants.py
  p2p/lightchain.py
  p2p/peer.py
  p2p/protocol.py
  p2p/server.py
  p2p/shard_syncer.py
  p2p/sharding_peer.py
  p2p/state.py
  p2p/sync.py
  p2p/utils.py
  tests/p2p/dumb_peer.py
  tests/p2p/peer_helpers.py
  tests/p2p/test_lightchain_integration.py
  tests/p2p/test_server.py
  tests/p2p/test_sync.py
  tests/trinity/core/p2p-proto/test_header_request_object.py
  tests/trinity/core/p2p-proto/test_peer.py
  tests/trinity/core/p2p-proto/test_peer_block_header_request_and_response_api.py
  tests/trinity/core/tx-pool/test_tx_pool.py
  trinity/nodes/light.py
  trinity/plugins/builtin/tx_pool/pool.py
  trinity/protocol/__init__.py
  trinity/protocol/base_block_headers.py
  trinity/protocol/base_request.py
  trinity/protocol/eth/__init__.py
  trinity/protocol/eth/commands.py
  trinity/protocol/eth/constants.py
  trinity/protocol/eth/peer.py
  trinity/protocol/eth/proto.py
  trinity/protocol/eth/requests.py
  trinity/protocol/les/__init__.py
  trinity/protocol/les/commands.py
  trinity/protocol/les/constants.py
  trinity/protocol/les/peer.py
  trinity/protocol/les/proto.py
  trinity/protocol/les/requests.py
  trinity/protocol/les/utils.py
  trinity/rlp/__init__.py
  trinity/rlp/block_body.py
  trinity/rlp/sedes.py
Labels: PR state: needs review, comp: p2p, comp: trinity, effort: E2 days, type: refactor

#1091 Add cookbook, fix examples, doctestify code
  docs/cookbooks/index.rst
  docs/guides/eth/building_chains.rst
  docs/guides/eth/index.rst
  docs/guides/eth/understanding_the_mining_process.rst
  docs/index.rst
Labels: PR state: needs review

#1137 PeerSubscribers now specify what messages they are interested in
  p2p/peer.py
  tests/p2p/test_peer_subscriber.py
  tests/trinity/core/peer_helpers.py
  trinity/plugins/builtin/tx_pool/pool.py
  trinity/sync/full/chain.py
  trinity/sync/full/state.py
  trinity/sync/light/chain.py
  trinity/sync/light/service.py
  trinity/sync/sharding/service.py
Labels: PR state: needs review, comp: p2p, effort: E1 hours, prio: P4 nice to have, type: feature

#1124 Move HexaryTrieSync from py-trie here, and make it async
  tests/trinity/core/integration_test_helpers.py
  tests/trinity/core/p2p-proto/test_state_sync.py
  tests/trinity/core/p2p-proto/test_sync.py
  trinity/db/base.py
  trinity/exceptions.py
  trinity/server.py
  trinity/sync/full/hexary_trie.py
  trinity/sync/full/service.py
  trinity/sync/full/state.py
Labels: PR state: needs review

#1156 Reduce logging about no idle peers
  trinity/sync/full/state.py
Labels: PR state: needs review, comp: trinity, effort: E1 hours, prio: P4 nice to have, type: refactor

#1157 Use shared ProcessPoolExecutor across all services
  p2p/executor.py
  p2p/peer.py
  p2p/service.py
  p2p/utils.py
  tests/trinity/core/p2p-proto/test_state_sync.py
  trinity/main.py
  trinity/plugins/builtin/tx_pool/pool.py
  trinity/rpc/ipc.py
  trinity/sync/common/chain.py
  trinity/sync/full/state.py
Labels: PR state: needs review, comp: p2p, comp: trinity, effort: E1 hours, type: performance, type: refactor

#1149 Expand round trip to GetNodeData and NodeData commands
  tests/conftest.py
  tests/json-fixtures/test_state.py
  tests/p2p/test_peer_collect_sub_proto_msgs.py
  tests/p2p/test_peer_subscriber.py
  tests/trinity/core/p2p-proto/test_node_data_request_object.py
  tests/trinity/core/p2p-proto/test_peer_node_data_request_and_response_api.py
  tests/trinity/core/p2p-proto/test_server.py
  trinity/p2p/handlers.py
  trinity/protocol/common/managers.py
  trinity/protocol/common/requests.py
  trinity/protocol/eth/handlers.py
  trinity/protocol/eth/managers.py
  trinity/protocol/eth/proto.py
  trinity/protocol/eth/requests.py
  trinity/protocol/les/managers.py
  trinity/protocol/les/requests.py
  trinity/sync/full/state.py
Labels: PR state: needs review, comp: trinity, prio: P4 nice to have, type: feature

#1158 Allow granular configuration of logging
  eth/__init__.py
  eth/db/account.py
  eth/tools/logging.py
  eth/utils/logging.py
  eth/vm/computation.py
  eth/vm/gas_meter.py
  p2p/__init__.py
  p2p/peer.py
  p2p/service.py
  tests/trinity/core/cli/test_log_level_configuration.py
  tests/trinity/core/p2p-proto/test_state_sync.py
  tests/trinity/core/peer_helpers.py
  trinity/__init__.py
  trinity/cli_parser.py
  trinity/main.py
  trinity/p2p/handlers.py
  trinity/sync/full/hexary_trie.py
  trinity/sync/full/state.py
  trinity/utils/logging.py
Labels: PR state: needs review, comp: evm, comp: trinity, prio: P4 nice to have, type: feature

#1167 Handle OperationCancelled in state downloader background task
  trinity/sync/full/state.py
  trinity/utils/cancellation.py
Labels: PR state: needs review, comp: trinity, effort: E1 hours, prio: P2 required, type: bug

#1169 Expand round trip api to block bodies
  eth/db/trie.py
  p2p/peer.py
  tests/trinity/core/p2p-proto/test_block_bodies_request_object.py
  tests/trinity/core/p2p-proto/test_node_data_request_object.py
  tests/trinity/core/p2p-proto/test_peer_block_body_request_and_response_api.py
  tests/trinity/core/p2p-proto/test_peer_block_header_request_and_response_api.py
  tests/trinity/core/p2p-proto/test_peer_receipts_request_and_response_api.py
  tests/trinity/core/p2p-proto/test_receipts_request_object.py
  trinity/p2p/handlers.py
  trinity/protocol/common/managers.py
  trinity/protocol/common/requests.py
  trinity/protocol/eth/handlers.py
  trinity/protocol/eth/managers.py
  trinity/protocol/eth/proto.py
  trinity/protocol/eth/requests.py
  trinity/protocol/les/managers.py
  trinity/protocol/les/proto.py
  trinity/protocol/les/requests.py
  trinity/sync/full/chain.py
Labels: PR state: needs review, comp: trinity, effort: E1 hours, prio: P3 important, type: feature, type: refactor

#1165 [WIP] add chain.get_transaction_result and rpc eth_call
  eth/chains/base.py
  eth/utils/spoof.py
  eth/vm/computation.py
  eth/vm/forks/frontier/state.py
  eth/vm/state.py
  setup.py
  tests/conftest.py
  tests/core/chain-object/test_contract_call.py
  tests/trinity/core/json-rpc/test_ipc.py
  tests/trinity/json-fixtures-over-rpc/test_rpc_fixtures.py
  trinity/chains/light.py
  trinity/rpc/modules/eth.py
  trinity/utils/validation.py
Labels: PR state: WIP

#1183 Fix full sync service cancellation detection
  p2p/discovery.py
  p2p/nat.py
  p2p/peer.py
  trinity/plugins/builtin/tx_pool/pool.py
  trinity/protocol/common/managers.py
  trinity/sync/common/chain.py
  trinity/sync/full/service.py
  trinity/sync/light/service.py
  trinity/sync/sharding/service.py
Labels: PR state: needs review, Sharding, comp: trinity, effort: E2 days, prio: P3 important

#1151 WIP changes chain.import_block to return new blocks and blocks evicte…
  eth/chains/base.py
  eth/db/chain.py
  eth/db/header.py
  eth/tools/fixture_tests.py
  scripts/benchmark/checks/import_empty_blocks.py
  tests/core/chain-object/test_chain.py
  tests/core/chain-object/test_header_chain.py
  tests/core/chain-object/test_import_block.py
  tests/core/chain-object/test_mining.py
  tests/core/vm/test_vm_state.py
  tests/database/test_header_db.py
Labels: PR state: needs review, comp: evm, effort: E1 hours, prio: P3 important, type: refactor

#1200 cleanup from changes to import_block
  eth/chains/base.py
  eth/db/chain.py
  eth/db/header.py
  eth/tools/fixture_tests.py
  scripts/benchmark/checks/import_empty_blocks.py
  tests/core/chain-object/test_chain.py
  tests/core/chain-object/test_chain_reorganization.py
  tests/core/chain-object/test_import_block.py
  tests/core/vm/test_vm_state.py
  trinity/sync/full/chain.py
Labels: PR state: needs review, comp: evm, comp: trinity, effort: E1 hours, prio: P4 nice to have, type: bug, type: refactor

#1209 Chain builder tool
  docs/api/eth/api.tools.rst
  docs/api/eth/tools/api.tools.builders.rst
  docs/api/eth/tools/api.tools.fixtures.rst
  eth/chains/base.py
  eth/chains/mainnet/__init__.py
  eth/tools/builder/__init__.py
  eth/tools/builder/chain/__init__.py
  eth/tools/builder/chain/builders.py
  eth/tools/mining.py
  eth/vm/forks/frontier/__init__.py
  tests/core/builder-tools/test_chain_builder.py
  tests/core/builder-tools/test_chain_construction.py
  tests/core/builder-tools/test_chain_initializer.py
  tests/core/chain-object/test_chain_reorganization.py
  tests/core/chain-object/test_mining.py
  tests/core/consensus/test_pow_mining.py
  tests/fillers/build_json.py
  tests/trinity/core/p2p-proto/test_sync.py
Labels: PR state: needs review, comp: evm, effort: E2 days, prio: P4 nice to have, type: feature

#1232 Enforce timeout correctly and add lock for concurrency handling
  tests/core/builder-tools/test_chain_initializer.py
  tests/trinity/core/p2p-proto/test_peer_block_header_validator_api.py
  trinity/protocol/common/managers.py
Labels: PR state: needs review, comp: trinity, effort: E1 hours, prio: P3 important, type: bug
