Repository ethereum/py-evm, pull requests merged in 2018-05, with the labels that each got.

#638 trinity: Add support for full node syncing and run that by default
  p2p/chain.py
  p2p/sync.py
  tests/p2p/integration_test_helpers.py
  tests/trinity/core/chains-utils/test_chain_config_object.py
  tests/trinity/core/database/test_database_over_ipc_manager.py
  trinity/chains/__init__.py
  trinity/cli_parser.py
  trinity/db/chain.py
  trinity/main.py
  trinity/utils/chains.py
  trinity/utils/mp.py
Labels: Trinity

#655 Perform sub proto handshake in server
  p2p/server.py
  tests/p2p/test_server.py
Labels: Needs Review, p2p

#660 Piper/implement schema class
  evm/db/chain.py
  evm/db/schema.py
  evm/utils/db.py
  tests/database/test_chaindb.py
Labels: Needs Review

#662 rename lookup_block_hash
  evm/chains/base.py
  evm/db/chain.py
  p2p/lightchain.py
  p2p/peer.py
  tests/database/test_chaindb.py
  tests/p2p/integration_test_helpers.py
  trinity/db/chain.py
Labels: Needs Review

#663 Cleanup to the Chain, ChainDB and VM classes and their base classes.
  .gitignore
  evm/__init__.py
  evm/chains/base.py
  evm/db/chain.py
  evm/exceptions.py
  evm/vm/__init__.py
  evm/vm/base.py
  evm/vm/forks/frontier/__init__.py
  evm/vm/vm.py
  p2p/lightchain.py
  tests/core/vm/test_frontier_computation.py
  tests/database/test_chaindb.py
Labels: Work in progress

#674 p2p: Implement a BaseService class and use it everywhere
  p2p/chain.py
  p2p/lightchain.py
  p2p/peer.py
  p2p/server.py
  p2p/service.py
  p2p/state.py
  p2p/sync.py
  tests/p2p/peer_helpers.py
  tests/p2p/test_lightchain.py
  tests/p2p/test_lightchain_integration.py
  tests/p2p/test_server.py
  trinity/main.py
Labels: p2p

#645 Attempt at a very simple sharding protocol
  evm/chains/shard.py
  evm/rlp/collations.py
  evm/rlp/headers.py
  p2p/sharding.py
  tests/p2p/test_sharding.py
Labels: Sharding

#697 Move setup logic for token to Service class
  p2p/chain.py
  p2p/service.py
  p2p/sharding.py
  p2p/state.py
  p2p/sync.py
Labels: Needs Review

#687 UPNP across all found devices
  p2p/server.py
  setup.py
Labels: Needs Review

#723 Trinity log output: reorder, align
  trinity/utils/logging.py
Labels: Trinity

#729 reduce INFO level log output
  p2p/chain.py
  p2p/kademlia.py
  p2p/peer.py
  p2p/service.py
Labels: Trinity

#752 Reduce noise in fast sync terminal output
  p2p/chain.py
Labels: Trinity

#753 Try separating trinity and evm packages
  README-trinity.md
  setup_trinity.py
Labels: Needs Review, Trinity

#758 Sharding protocol with collation requests
  evm/constants.py
  p2p/shard_syncer.py
  p2p/sharding.py
  p2p/sharding_peer.py
  p2p/sharding_protocol.py
  tests/p2p/test_sharding.py
Labels: Sharding, p2p

#774 quiet terminal output on unexpected parts
  p2p/chain.py
Labels: Trinity

#785 Return early in Kademlia.recv_ping if remote is this_node
  p2p/kademlia.py
Labels: p2p

#826 Update trinity quickstart
  docs/guides/trinity/quickstart.rst
Labels: Trinity
