Repository ethereum/py-evm, pull requests merged in 2018-03, with the labels that each got.

#428 Fix sharding branch after rebasing
  evm/chains/__init__.py
  evm/chains/chain.py
  evm/chains/mainnet/__init__.py
  evm/chains/ropsten/__init__.py
  evm/chains/shard.py
  evm/chains/tester/__init__.py
  evm/utils/db.py
  evm/vm/forks/sharding/computation.py
Labels: Needs Review

#422 Remove gas price from and add salt to Sharding transaction
  evm/auxiliary/user_account_contract/transaction.py
  evm/auxiliary/user_account_contract/utils.py
  evm/logic/context.py
  evm/rlp/transactions.py
  evm/utils/address.py
  evm/vm/forks/sharding/opcodes.py
  evm/vm/forks/sharding/transaction_context.py
  evm/vm/forks/sharding/transactions.py
  evm/vm/forks/sharding/validation.py
  evm/vm/forks/sharding/vm_state.py
  tests/auxiliary/user-account/test_contract.py
  tests/core/helpers.py
  tests/core/transaction-utils/conftest.py
  tests/core/transaction-utils/test_transaction_signature_validation.py
Labels: Sharding

#418 Extend paygas JSON tests
  evm/tools/test_builder/test_builder.py
  tests/fillers/build_json.py
  tests/fillers/json/fillers/GeneralStateTestFiller/stPaygas/PaygasAfterCall.json
  tests/fillers/json/fillers/GeneralStateTestFiller/stPaygas/PaygasFailBefore.json
  tests/fillers/json/fillers/GeneralStateTestFiller/stPaygas/PaygasFailThereafter.json
  tests/fillers/json/fillers/GeneralStateTestFiller/stPaygas/PaygasInCall.json
  tests/fillers/json/fillers/GeneralStateTestFiller/stPaygas/PaygasInsufficientBalance.json
  tests/fillers/json/fillers/GeneralStateTestFiller/stPaygas/PaygasNormal.json
  tests/fillers/json/fillers/GeneralStateTestFiller/stPaygas/PaygasOmitted.json
  tests/fillers/json/fillers/GeneralStateTestFiller/stPaygas/PaygasRepeated.json
  tests/fillers/json/fillers/GeneralStateTestFiller/stPaygas/PaygasRepeatedSameGasprice.json
  tests/fillers/json/fillers/GeneralStateTestFiller/stPaygas/PaygasZeroGasprice.json
  tests/fillers/json/tests/GeneralStateTests/stPaygas/PaygasAfterCall.json
  tests/fillers/json/tests/GeneralStateTests/stPaygas/PaygasFailBefore.json
  tests/fillers/json/tests/GeneralStateTests/stPaygas/PaygasFailThereafter.json
  tests/fillers/json/tests/GeneralStateTests/stPaygas/PaygasInCall.json
  tests/fillers/json/tests/GeneralStateTests/stPaygas/PaygasInsufficientBalance.json
  tests/fillers/json/tests/GeneralStateTests/stPaygas/PaygasNormal.json
  tests/fillers/json/tests/GeneralStateTests/stPaygas/PaygasOmitted.json
  tests/fillers/json/tests/GeneralStateTests/stPaygas/PaygasRepeated.json
  tests/fillers/json/tests/GeneralStateTests/stPaygas/PaygasRepeatedSameGasprice.json
  tests/fillers/json/tests/GeneralStateTests/stPaygas/PaygasZeroGasprice.json
  tests/fillers/vm_fillers/paygas_fillers.py
Labels: Needs Review, Sharding

#382 Add JSON-RPC server process to trinity
  docs/quickstart.rst
  requirements-dev.txt
  setup.py
  tests/trinity/conftest.py
  tests/trinity/core/cli/test_trinity_repl.py
  tests/trinity/core/json-rpc/test_ipc.py
  tox.ini
  trinity/cli.py
  trinity/cli_parser.py
  trinity/console.py
  trinity/main.py
  trinity/rpc/ipc.py
  trinity/rpc/main.py
  trinity/rpc/modules/main.py
  trinity/rpc/server.py
  trinity/utils/chains.py
Labels: Needs Review, Trinity

#450 Blob utility functions
  evm/constants.py
  evm/utils/blobs.py
  tests/core/test_blob_utils.py
Labels: Needs Review, Sharding

#471 Add support for mainnet syncing to Trinity
  tests/trinity/core/chain-management/test_initialize_data_dir.py
  tests/trinity/core/chain-management/test_initialize_database.py
  tests/trinity/core/chain-management/test_is_data_dir_initialized.py
  tests/trinity/core/chain-management/test_is_database_initialized.py
  tests/trinity/core/chains-utils/test_chain_config_object.py
  trinity/chains/__init__.py
  trinity/chains/mainnet.py
  trinity/chains/ropsten.py
  trinity/cli_parser.py
  trinity/constants.py
  trinity/main.py
  trinity/utils/chains.py
Labels: Needs Review, Trinity

#500 Piper/docs docs docs
  docs/api.chain.rst
  docs/api.computation.rst
  docs/api.opcode.rst
  docs/api.state.rst
  docs/api.vm.rst
  docs/architecture.rst
  docs/index.rst
  evm/vm/computation.py
  evm/vm/state.py
Labels: Needs Review

#517 SMC collation header optimization
  evm/rlp/headers.py
  evm/vm/forks/sharding/contracts/validator_manager.json
  evm/vm/forks/sharding/contracts/validator_manager.v.py
  tests/sharding/test_vmc_handler.py
Labels: Sharding
